.row
  .space-4

  .col-lg-2.col-md-3.col-sm-4.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.right-line
    h3 {{'about-me.articles' | t}}
    img.loader(src=config.url.cdn + 'img/loader.png' ng-if='!articles')
    ul
      li(ng-repeat='article in articles')
        a(href=config.url.cdn + 'article/{{article.id}}.pdf' rel='external')
          strong.name {{article.title}}
          br
          span.language PDF - {{'languages.' + article.lang | t}}

    .space-2

    h3 {{'about-me.contact' | t}}
    p
      strong {{'contact.name' | t}}
      br
      | {{'contact.phone' | t}}
      br
      a.next(href='mailto:{{\'contact.email\' | t}}') {{'contact.email' | t}}

  .col-lg-8.col-md-7.col-sm-6
    h2 {{'about-me.name' | t}}

    div(ng-bind-html='\'about-me.content\' | t')

    .space-8
    a.next(href='#/about/portfolio')
      img(src=config.url.cdn + 'img/chevron-right.png')
      | {{'about-portfolio.name' | t}}

  .clear