.row
  .space-4

  .col-sm-10.col-sm-offset-1
    h2 {{'experiences.name' | t}}

    div(ng-bind-html='\'experiences.content\' | t')

    img.loader(src=config.url.cdn + 'img/loader.png' ng-if='!experiences')

    ul#experiences(kwicks='experiences')
      li.blade(ng-repeat='experience in experiences')
        a(ng-href='/#/experience/{{experience.id}}')
          img(ng-src=config.url.cdn + 'img/experiences/{{experience.id}}.jpg' width='200' height='500')
          .info
            strong.title {{experience.title}}
            .location {{experience.location}}

    .clear

    .space-8
    a.next(href='http://www.github.com/jValdron/portfolio' rel='external')
      img(src=config.url.cdn + 'img/chevron-right.png')
      img(src=config.url.cdn + 'img/github.png')
      | GitHub

  .clear