.row
  .space-4

  .col-sm-8.col-sm-offset-1(ng-if='experience')
    h2 {{experience.title}}
    h3 {{experience.yearStart}}{{experience.yearStart === experience.yearEnd ? '' : ' - ' + experience.yearEnd}}

  .clear

  .col-sm-8.col-sm-offset-1
    img.loader(src=config.url.cdn + 'img/loader.png?v=' + version ng-if='!experience')

    div(ng-if='experience')

      h4 {{'experiences.about' | t}}
      div(ng-bind-html='experience.about')

      .space-4

      h4 {{'experiences.role' | t}}
      div(ng-bind-html='experience.role')

      div(ng-if='experience.victory')
        .space-4

        h4 {{'experiences.victory' | t}}
        div(ng-bind-html='experience.victory')

    .space-4

    a.btn(href='#/experiences')
      img(src=config.url.cdn + 'img/chevron-left.png?v=' + version)
      | {{'experiences.back-to' | t}}

  .col-sm-2
    img.boxed(ng-src=config.url.cdn + 'img/experiences/{{experience.id}}.jpg?v=' + version)

  .clear